/* Efeito de rolagem suave */
html {
  scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  padding: 15px 10%;
  display: flex;
  justify-content: center;
  background-color: #20232a;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  position: relative;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.navbar-list {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
}

.navbar-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
}

.navbar-list li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.section {
  padding: 60px 10%;
  min-height: 100vh;
  margin-top: 20px;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #c00;
}

.hero {
  position: relative; /* Adiciona contexto para a posição do vídeo */
  overflow: hidden;
}

.hero-video {
  width: 100%;
  height: auto;
}

.section {
  padding: 80px 10%;
  min-height: 100vh;
  margin-top: 20px; /* Adiciona margem superior para separar do Navbar */
}
