.navbar {
  width: 100%;
  padding: 15px 10%;
  display: flex;
  justify-content: center;
  background-color: #20232a;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.navbar-list {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
}

.navbar-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

.navbar-list li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-list li svg {
  color: #c00;
  font-size: 20px;
}

.navbar-list li span {
  margin-left: 25px;
}
