.navbar {
  width: 100%;
  padding: 15px 10%;
  display: flex;
  justify-content: center;
  color: #8f0606;
  font-size: 15px;
  font-style: normal;
  position: relative;
  z-index: 1;
}

.navbar-list {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.navbar-list li {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
}

.navbar-list li:hover {
  background-color: transparent;
  transform: none;
}
